/* styles.css*/
body {
    background-color: #e0e0e0;
    font-family: Helvetica;
    color: #383636;
  }

#img-div {
  text-align: center;
  max-width: 70%;
  margin:auto;
}

#image {
    margin: auto;
    max-width: 100%;
    padding-bottom: 0px;
    margin-bottom:-10px;;
}

#title {
    text-align: center;
}

#timeline {
    margin:auto;
    max-width: 75%;
}

#timeline h3 {
    text-align: center;
}

#timeline li{
    padding-bottom: 10px;
}

#tribute-link-div {
    text-align: center;
    font-size:18px;
    font-weight:600;
    color: #383636;
}