/* styles.css*/
body {
    background-color: #e0e0e0;
    font-family: Helvetica;
    color: #383636;
  }

#img-div {
  text-align: center;
  padding: 10px;
}

#image {
    margin: auto;
    max-width: 75%;
}

#title {
    text-align: center;
}

#timeline {
    margin:auto;
    max-width: 75%;
}

#timeline h3 {
    text-align: center;
}

#timeline li{
    padding-bottom: 10px;
}